In [13]:
import pandas as pd
import numpy as np

In [14]:
bike_count_2014 = pd.read_csv('bike_count/comptagevelo2014.csv')
bike_count_2014 = bike_count_2014.fillna(0)
bike_count_2014 = bike_count_2014[['Berri1','Maisonneuve_2','Maisonneuve_3']].astype('int64')

fields = ['Max Temp (°C)', 
          'Min Temp (°C)',
         'Mean Temp (°C)',
         'Total Precip (mm)',
          'Snow on Grnd (cm)',
         'Year',
         'Month',
         'Day']

weather_2014 = pd.read_csv('weather_daily/en_climate_daily_QC_702S006_2014_P1D.csv', usecols=fields)
weather_2014 = weather_2014.fillna(0)

fields = ['Dew Point Temp (°C)', 
          'Rel Hum (%)',
          'Wind Dir (10s deg)',
          'Wind Spd (km/h)',
         'Wind Chill']

weather_hourly_2014 = pd.read_csv('weather_hourly/en_climate_hourly_QC_702S006_01-2014_P1H.csv', usecols=fields)

for i in range(11):
    n = i+2
    name = open("weather_hourly/en_climate_hourly_QC_702S006_%.2d-2014_P1H.csv" % n)
    weather_hourly_2014_temp = pd.read_csv(name)
    weather_hourly_2014_temp
    weather_hourly_2014 = pd.concat([weather_hourly_2014, weather_hourly_2014_temp], axis=0, join="inner")

weather_hourly_2014 = weather_hourly_2014.fillna(0)
weather_hourly_2014 = weather_hourly_2014.groupby(np.arange(len(weather_hourly_2014))//24).mean()
weather_hourly_2014.reindex()

totalData_2014 = pd.concat([weather_2014,weather_hourly_2014,bike_count_2014], axis=1, join="inner")
totalData_2014.to_csv('totalData_2014.csv',index=False)
totalData_2014.info()

     Berri1  Maisonneuve_2  Maisonneuve_3
0         9             28              3
1         9             41              9
2        28             64             18
3        27             59              9
4        55             73             19
..      ...            ...            ...
360     239            265             79
361     249            260            106
362     158            280             89
363     165            268             59
364     118            192             60

[365 rows x 3 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 365 non-null    int64
 1   Month                365 non-null    int64
 2   Day                  365 non-null    int64
 3   Max Temp (°C)        365 non-null    float64
 4   Min Temp (°C)        365 non-null    float64
 5   Mean Temp (°C)       365 non-null    float64
 6   Total Precip (mm)    365 non-null    float64
 7   Snow on Grnd (cm)    365 non-null    float64
 8   Dew Point Temp (°C)  365 non-null    float64
 9   Rel Hum (%)          365 non-null    float64
 10  Wind Dir (10s deg)   365 non-null    float64
 11  Wind Spd (km/h)      365 non-null    float64
 12  Wind Chill           365 non-null    float64
 13  Berri1               365 non-null    int64
 14  Maisonneuve_2        365 non-null    int64
 15  Maisonneuve_3        365 non-null    int64
dtypes: float64(10), int64(6)
memory usage: 45.8 KB